  /* CSS Styles */

  /* 1. general */
    /* 2. Header */
    /* 3.beer */
    /* 4.Arrivals*/
    /* 5. Selling */
    /* 6. Testimonial */
    /* 7. Call To Action */

    /*------- 8.Contact Us Page ------------*/
    /*------- 9. Contact ------------*/





/* 1.General */
.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 64px;
    color: #2a2a2a;
}

p {
    font-size: 26px;
    color: #868686;
}

/* 2.Header */

#m-logo-hero {
    height: 91px;
}

.m-h2-text {
    grid-column: 1/-1;
    text-align: center;
    font-size: 33px;
    color: #fff;
}

#m-main-header1 {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/drnut-image1.jpg);
    height: 492px;
}

#m-logo {
    height: 91px;
    margin-top: 34px;
    grid-row: 1/2;
}

#m-main-nav {
 
    text-align: right;
    margin-top: 26px;}

#m-main-nav label img {
    width: 20px;
    height: 20px;
    transition: all .3s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

#m-main-nav input, #burger-con {
    display: none;
}

#m-main-nav input:checked ~ #burger-con {
    display: contents;
    background-color: blue;
}

#m-main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#m-main-nav ul {
    padding: 0;
    list-style-type: none;
}

#m-main-nav li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#m-main-nav li {
    border-bottom: 1px solid #efefef;
}

#m-main-nav li:first-child {
    border-top: 1px solid #efefef;
}

#m-main-nav li:last-child {
    margin-bottom: 10px;
}
.m-hero-btn {
    grid-row: 4/5;
    height: 48px;
    text-align: center;
    }
    
    #experience {
    grid-row: 3/4;
    text-align: center;
    font-size: 15px;
    color: #fff;
    }

    .m-hero-btn {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        background: transparent;
        position: relative;
        cursor: pointer;
        transition: 1s;
    }
    
    .button-text {
        font-size: 12px;
        padding: 0px;
        padding-top: 16px;
        margin: 0px;
        color: #fff;
    }
    
    .button-text1 {
        font-size: 12px;
        padding: 0px;
        padding-top: 6px;
        margin: 0px;
        color: #fff;
    }
    
    .m-hero-btn:hover{
        border: 1px solid #f44336;
        background: #f44336;
    }
    
    .m-hero-btn.red-btn:hover {
        border: 1px solid #f44336;
        background: #f44336;
        color: #fff;
    }
    
    .m-hero-btn.red-btn {
        border: 1px solid #f44336;
        background: transparent;
        color: #f44336;
    }
    
    button {
        outline: red;
    }
    
    #icons .fa{
        color: #f44336;
        margin: 0 13px;
        cursor: pointer;
        padding: 18px 0;
    }
    
    #fa-heart-o{
        color: #f44336;
    }

@media screen and (min-width: 768px) {
    #m-main-header1 {
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.png);
        height: 492px;
    }

    #m-main-nav{
        
    }

    #m-logo-hero {
        height: 41px;
    }

    label {
        display: none;
    }

    #burger-con {
        display: block;
        font-size: 12px;
    }
    #burger-con ul {
        display: flex;
        flex-direction: row;
    }

    #burger-con ul li a{
        margin-left: 30px;
    }

    #burger-con ul li, #burger-con ul li:first-child {
        border: none;
        display: inline;
    }

    #main-nav ul li a {
        display: flex;
    }

    #main-nav ul li {
        margin-right: 10px;
    }

    #burger-con ul li:last-child {
        margin-right: 0px;
    }
}